/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries */

/* #Site Styles
================================================== */
	body {
		font-weight:300;
		font-family:'Oswald', sans-serif; }

	a:link,
	a:visited,
	a:hover,
	a:active {
		color:#424242;
		text-decoration:none; }

	.light {
		font-weight:300; }
	.regular {
		font-weight:400; }
	.bold {
		font-weight:700; }

	header {
		top:0;
		z-index:10;
		width:100%;
		height:10vh;
		position:fixed;
		background:#424242; }
	header a:link,
	header a:visited,
	header a:hover,
	header a:active {
		color:#fff; }
	header .brand {
		float:left;
		font-size:19pt;
		line-height:67px; }
	header ul {
		margin:0;
		float:right; }
	header ul li {
		margin:0;
		display:inline-block; }
	header ul li a {
		padding:20px;
		display:block; }
	header ul li:last-child a {
		padding-right:0; }

	#content {
		top:10vh;
		padding-top:15px;
		position:relative; }

/* #Page Styles
================================================== */
	/* Sign In Page */
	.wfull_form {
		padding:15px;
		background:#424242; }
	.wfull_form a {
		color:#fff;
		display:block;
		text-align:center; }
	.wfull_form input[type="text"],
	.wfull_form input[type="password"],
	.wfull_form input[type="submit"] {
		width:100%;
		border:none;
		margin:5px 0;
		border-radius:0;
		box-shadow:none; }

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}